<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<ul class="list-unstyled">
  <% @reviews.each do |review| %>
    <li><%= review.rating %> <%= review.content %></li>
  <% end %>
</ul>

<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %>

<%= link_to 'Go back', restaurants_path %>

